/* .flex-container {
  display: flex;
  justify-content: center;
}
.flex-item {
  margin: 5px;
  flex-grow: 4;
}
.menu-item {
  border: 1px solid #e0e0e0;
  padding: 15px 25px;
  border-radius: 5px;
  margin-bottom: 10px;
}
.menu-item h4 {
  margin: 0;
  padding: 5px 0;
  font-weight: 700;
}
.menu-item p {
  font-weight: 300;
  margin: 0;
  padding: 5px 0;
}
.menu-item span {
  font-weight: 400;
  padding: 5px 0;
}
.flex-item:nth-child(2) {
  flex-grow: 4;
}
.checkout {
  min-width: 320px;
  max-height: 450px;
  background-color: #fff;
}

.checkout button {
  border: none;
  background-color: #539b1b;
  color: #fff;
  padding: 15px;
  width: 100%;
}

@media (max-width: 767px) {
  .flex-container {
    flex-direction: column;
  }
  .checkout {
    position: fixed;
    left: 0px;
    right: 0px;
    bottom: 0px;
    padding: 15px 0;
    border-top: 1px solid #e0e0e0;
  }
  .checkout button {
    width: 95%;
    display: block;
    margin: 0 auto;
  }
  .container {
    max-width: 60rem;
    width: 90%;
    margin: 2rem auto;
    animation: shows-appear 1s ease-out forwards;
  }
} */

.add-card {
  /* max-width: 60rem;
  width: 90%;
  margin: 2rem auto; */
  animation: shows-appear 1s ease-out forwards;
}

@keyframes shows-appear {
  from {
    opacity: 0;
    transform: translateY(3rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
